services:

  frontend:

    container_name: frontend
    build:
      context: ./frontend/
    restart: on-failure

  backend:

    container_name: backend
    build:
      context: ./backend/
    environment:
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_BUCKET: ${MINIO_BUCKET}
      ODOO_ENDPOINT: ${ODOO_ENDPOINT}
      DATABASE_URL: ${PG_SYMFONY_URL}
    restart: on-failure

  postgres:

    container_name: postgres
    build:
      context: ./databases/postgres/
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PG_SYMFONY_DB: ${PG_SYMFONY_DB}
      PG_SYMFONY_USER: ${PG_SYMFONY_USER}
      PG_SYMFONY_PASSWORD: ${PG_SYMFONY_PASSWORD}
      PG_ODOO_DB: ${PG_ODOO_DB}
      PG_ODOO_USER: ${PG_ODOO_USER}
      PG_ODOO_PASSWORD: ${PG_ODOO_PASSWORD}
    restart: on-failure

  minio:

    container_name: minio
    build:
      context: ./databases/minio/
    environment:
      MINIO_ENDPOINT: ${MINIO_EXT_ENDPOINT}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_BUCKET: ${MINIO_BUCKET}
      MINIO_DATA_PATH: ${MINIO_DATA_PATH}
    restart: on-failure

  admin:

    container_name: admin
    build:
      context: ./admin/
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${PG_ODOO_USER}
      POSTGRES_PASSWORD: ${PG_ODOO_PASSWORD}
      POSTGRES_DATABASE: ${PG_ODOO_DB}
      MINIO_BUCKET: ${MINIO_BUCKET}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    restart: on-failure
