networks:
  net-back-front:
    driver: bridge
  net-back-minio:
    driver: bridge
  net-back-postgres:
    driver: bridge
  net-back-admin:
    driver: bridge
  net-admin-minio:
    driver: bridge
  net-admin-postgres:
    driver: bridge
  net-minio-init:
    driver: bridge

services:

  frontend:

    container_name: frontend
    build:
      context: ./frontend/
      target: prod
    networks: [net-back-front]
    ports:
      - "80:80"
      - "443:443"
    restart: on-failure

  backend:

    container_name: backend
    build:
      context: ./backend/
      target: prod
    networks:
      - net-back-front
      - net-back-minio
      - net-back-postgres
      - net-back-admin
    environment:
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_BUCKET: ${MINIO_BACKEND_BUCKET}
      ODOO_ENDPOINT: ${ODOO_ENDPOINT}
      DATABASE_URL: ${PG_BACKEND_URL}
    restart: on-failure

  postgres:

    container_name: postgres
    image: postgres:18
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PG_BACKEND_DB: ${PG_BACKEND_DB}
      PG_BACKEND_USER: ${PG_BACKEND_USER}
      PG_BACKEND_PASSWORD: ${PG_BACKEND_PASSWORD}
      PG_ADMIN_DB: ${PG_ADMIN_DB}
      PG_ADMIN_USER: ${PG_ADMIN_USER}
      PG_ADMIN_PASSWORD: ${PG_ADMIN_PASSWORD}
    networks:
      - net-back-postgres
      - net-admin-postgres
    volumes:
      - ./databases/postgres/init/:/docker-entrypoint-initdb.d:ro
      - ./databases/postgres/pg_hba.conf.tpl:/etc/postgresql/pg_hba.conf.tpl:ro

  minio:

    container_name: minio
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    networks:
      - net-back-minio
      - net-admin-minio
      - net-minio-init
    command: ["server", "/data"]
    restart: on-failure

  minio-init:

    container_name: minio-init
    image: minio/mc:RELEASE.2025-08-13T08-35-41Z
    environment:
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_ADMIN_USER: ${MINIO_ADMIN_USER}
      MINIO_ADMIN_BUCKET: ${MINIO_ADMIN_BUCKET}
      MINIO_ADMIN_PASSWORD: ${MINIO_ADMIN_PASSWORD}
      MINIO_BACKEND_USER: ${MINIO_BACKEND_USER}
      MINIO_BACKEND_BUCKET: ${MINIO_BACKEND_BUCKET}
      MINIO_BACKEND_PASSWORD: ${MINIO_BACKEND_PASSWORD}
    networks:
      - net-minio-init
    volumes:
      - ./databases/minio/config.sh:/config.sh:ro
      - ./databases/minio/policies/:/policies/:ro
    entrypoint: ["/bin/sh", "/config.sh"]
    restart: no

  admin:

    container_name: admin
    build:
      context: ./admin/
      target: prod
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${PG_ADMIN_USER}
      POSTGRES_PASSWORD: ${PG_ADMIN_PASSWORD}
      POSTGRES_DATABASE: ${PG_ADMIN_DB}
      MINIO_BUCKET: ${MINIO_ADMIN_BUCKET}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: ["odoo", "-i", "setup", "-c", "/etc/odoo/odoo.conf"]
    networks:
      - net-back-admin
      - net-admin-minio
      - net-admin-postgres
    restart: on-failure
